#para_1_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#para_2_button
{
	
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}

div rows { width: 49%;

}

div row_1 { width: 49%;

}